/* ESCRITORIO */
@media screen and (min-width: 550px) { 
    

    .header3 {
        display: none;
    }

    .nav-mob {
        display: none;
    }

    .nav-label {
        display: none;
    }
}

/* ANDROID */
@media screen and (max-width: 550px) {
    .usuario {
        display: none;
    }

    .telefonos{
        display: none;
    }

    .buscador{
        display: none;
    }

    .header2 {
        display: none;
    }

    .header3 {
        display: block;
        background-color: black;
        list-style: none;
    }

    .publicidad {
        display: none;
    }

    .conteiner-info {
        display: none;
    }
    .conteiner-categorias {
        display: none;
    }
    .conteiner-clientes {
        display: none;
    }
    .conteiner-redes {
        display: none;
    }
    .conteiner-boxes {
        display: flex;
        gap: 2%;
        padding: 10px;
        margin: 10px;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .nav {
        display: none;
    }
    
    .nav-mob {
        display: none;
        position: fixed;
        background-color: black;
        top: 0%;
        bottom: 30%;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        font-family: 'Bebas Neue', cursive;
        z-index: 999;
    }
    
    .nav-input {
        display: block;
        list-style: none;

    } 
    

    .nav-input:checked + .nav-mob {
        clip-path: circle(100% at center);
        list-style: none;
    } 
    
    .nav-label {
        margin-right: 5%;
    }
    .card {
        display: flex;
    }
    
    .contenerdor-produ {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .img-mobi {
        display: none;
    }
    section.section-vet {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        margin: 10px;
        padding: 10px;
        overflow: hidden;  
        text-align: center;
        background-color: white;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        }

     img.imgvet {
         width: 100%;
     } 
    
}